@import "../../uikit";

.App {
  position: relative;

  box-sizing: border-box;
  padding: 4rem;

  width: 700px;
  height: 700px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;

  background-color: $light-black;

  border-radius: 6px;
}

.upload{
  box-sizing: border-box;
  padding: 0.5rem;
  color: $white;
  border: 1px solid $grey;
  border-radius: 6px;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 2;

  color: $white;
  cursor: pointer;
}

