@import "../uikit";

.App {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;


  background: rgba($light-black, 0.7);
}