@import "../../uikit";


.App {
  position: relative;

  width: 400px;
  height: 100%;

  display: flex;
  flex-direction: column;

  border: 1px solid $grey;
  border-radius: 6px;
  transition: 0.25s;

  &:hover {
    border-color: $orange;
    cursor: pointer;
  }
}

.link {
  &>span {
    color: $orange !important;
  }
}


.preview {
  position: relative;
  height: 250px;
  min-height: 250px;

  img {
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 250px;
  }

  &>span {
    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    padding: 0 0.5rem;
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: $light-black;

    @include text-bold-14($orange);
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info {
  box-sizing: border-box;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &>span:nth-child(1) {
    @include text-bold-16($white);
  }

  &>span:nth-child(2) {
    @include text-reg-14($white-75);
  }
}

.delete {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 0.5rem;

  color: black;
}